html {
  width: 300px;
  height: 600px;
}
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.creative {
  display: block;
  width: 100%;
  height: 100%;
}
.creative__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.creative__img {
  position: absolute;
  background-image: url('../assets/300x600x1/bg.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: inherit;
  height: inherit;
}
.creative__layout {
  position: absolute;
  bottom: 0;
  background-image: url('../assets/300x600x1/bottom-gradient.png');
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 291.43px;
}
.creative__header-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.creative__header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0 0 0;
  margin: 0 0 316.62px;
  width: 100%;
  height: 101.38px;
  z-index: 1;
}
.creative-header__caption {
  display: flex;
  width: 119px;
  height: 13px;
  margin: 0 0 13.45px 0;
}
.creative-header__gradient {
  position: absolute;
  top: 0;
  background-image: url('../assets/300x600x1/header-gradient.png');
  background-repeat: no-repeat;
  background-position: center -80px;
  background-size: 150%;
  width: 100%;
  height: 200%;
  z-index: -1;
}
.creative-header__caption-left {
  background-image: url('../assets/300x600x1/hbomax.png');
  background-position: center center;
  background-size: 100% auto;
  width: 69px;
  height: 13px;
}
.creative-header__caption-right {
  background-image: url('../assets/300x600x1/original.png');
  background-position: center center;
  background-size: 100% auto;
  display: flex;
  align-self: flex-end;
  width: 50px;
  height: 9px;
}
.creative-header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 252.32px;
  height: 55.93px;
}
.creative-header__title-top {
  background-image: url('../assets/300x600x1/title-top.png');
  background-position: center center;
  background-size: 100% auto;
  margin: 0 0 1.61px 0;
  width: 252.32px;
  height: 30.47px;
}
.creative-header__title-bottom {
  background-image: url('../assets/300x600x1/title-bottom.png');
  background-position: center center;
  background-size: 100% auto;
  width: 135.26px;
  height: 23.84px;
}
.creative-header__rating {
  position: absolute;
  top: 9px;
  right: 9px;
  background-image: url('../assets/300x600x1/rating.png');
  background-position: center center;
  background-size: 100% auto;
  width: 19px;
  height: 11px;
}
.creative__counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 0 0;
  width: 300px;
  height: 131px;
  margin: 0 0 21.41px;
}
.creative-counter__top {
  background-image: url('../assets/300x600x1/counter-top.png');
  background-position: center center;
  background-size: 100% auto;
  width: 300px;
  height: 24px;
  margin: 0 0 5.85px 0;
}
.creative-counter__center {
  width: 100%;
  height: 56px;
  margin: 0 0 13.05px 0;
}
.creative-counter__center-items-wrapper {
  position: relative;
  width: 100%;
  height: 56px;
}
.creative-counter__center-items {
  position: absolute;
  width: 100%;
  height: 131px;
  background-image: url('../assets/300x600x1/counter-center.png');
  background-position: center center;
  background-size: 100% auto;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.creative-counter__bottom {
  display: flex;
  width: 253px;
  height: 20.9px;
  align-items: flex-start;
}
.creative-counter__bottom-date-wrapper {
  position: relative;
  width: 106.17px;
}
.creative-counter__bottom-date {
  position: absolute;
  background-image: url('../assets/300x600x1/counter-bottom-date.png');
  background-position: center center;
  background-size: 100% auto;
  display: flex;
  align-self: center;
  width: 126px;
  height: 19px;
  left: -13px;
  top: 2px;
}
.creative-counter__bottom-logo {
  background-image: url('../assets/300x600x1/counter-bottom-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  align-self: center;
  width: 114px;
  height: 16px;
  margin: 0 1px 0 0;
}
.creative-counter__bottom-logo-icon {
  background-image: url('../assets/300x600x1/counter-bottom-logo-icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 29px;
  height: 22px;
}
.creative__description {
  position: relative;
  background-image: url('../assets/300x600x1/footer.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 287.73px;
  height: 22px;
  margin: 0 auto;
}
