@font-face {
  font-family: 'MyFont';
  src: url('../fonts/YSText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'MyFont';
}
.creative {
  position: absolute;
  width: 300px;
  height: 600px;
  background-image: url('../assets/bg.jpg');
  background-size: 100% auto;
}
.creative__footer {
  position: relative;
  bottom: 0;
  width: 287.73px;
  height: 22.31px;
  background-image: url('../assets/footer.png');
  background-size: 100% auto;
}
